#brand-image{

            height: 30px;
            }

.my_header{height: 60px; color:seashell;
             background-color: royalblue;
           }
.my_first_row{height: 60px; color:black;
             background-color: cornsilk;
           }
.my_modal{color:red;}

.my_modal2{color:blue;}
          

