
<!doctype html>
<html>
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit = no">

    <!-- oude scripts van Udacity project
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
    <title>
        Project Overview
    </title>
    <!-- Link to local bootstrap css file -->
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>




 
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="https://freebiesupply.com/logos/udacity-logo/">
                <img id="brand-image" alt="Website Logo" src="https://cdn.freebiesupply.com/logos/large/2x/udacity-logo-png-transparent.png">
        
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for ('index')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for ('predict')}}">Make a prediction</a>
                    </li>                                      
                  </ul>
                </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class = "col-xs-3">
          <ul class="list-group">
            <li class="list-group-item active">Features in the Dataset</li>
            <li class="list-group-item">Creatinine Phosphokinase</li>
            <li class="list-group-item">Ejection Fraction</li>
            <li class="list-group-item">Platelets</li>
            <li class="list-group-item">Serum Creatinine</li>
            <li class="list-group-item">Serum  Sodium</li> 
            <li class="list-group-item active">Label Dataset</li>
            <li class="list-group-item">Death Event</li>                                                    
          </ul>
        </div>
      </div>
      <div class="row">
        <!--<div id="chart" class="chart"></div> -->
        {% for id in ids %}
        <div id="{{id}}"></div>
        {% endfor %}
       
      </div>
      <div class="row justify-content-start align-items-start">
        <div class="column-md-4 ">
          <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
               <div class="modal-content">
                 <div class= "modal-header my_modal2">
                   <h1> Correlation Conclusion</h1>
                 </div>
                 <div class= "modal-body">
                  There are no significant correlations between the features. The strongest (negative)correlation is between the serum_sodium and serum_creatinine and between the serum_sodium and ejection_fraction features.But this correlations are still weak:  between 20% and 21%.
                  There is  some correlation between the label death_event and the features ejection fraction and serum_creatinine. The correlation with the platelets is almost zero.
                  </div>
                 <div class= "modal-footer">
                    <input class="btn btn-default my_modal2" data-dismiss="modal" value="Close">
            
                 </div>
               </div>
            </div>
          </div>
        <a href="#"  class="my_modal2" data-toggle="modal" data-target="#myModal2">Correlation</a>
        </div>
        <div class="column-md-4">
          <div class="modal fade" id="myModal3">
            <div class="modal-dialog">
               <div class="modal-content">
                 <div class= "modal-header my_modal2">
                   <h1> Feature Importance Conclusion</h1>
                 </div>
                 <div class= "modal-body">
                  Ejection_fraction and serum_cratinine contribute with a just over 20 % to death_event.The lowest contributor is serum_sodium with about 14%
                  </div>
                 <div class= "modal-footer">
                    <input class="btn btn-default my_modal2" data-dismiss="modal" value="Close">
            
                 </div>
               </div>
            </div>
          </div>
        <a href="#"  class="my_modal2" data-toggle="modal" data-target="#myModal3">Feature Importance</a>
        </div>
          
      </div>
      <br>
      <br>


      <div class="row justify-content-center align-items-center  ">

        <div class="column-sm-3">
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                 <div class= "modal-header my_modal">
                   <h1> Disclaimer</h1>
                 </div>
                 <div class= "modal-body">
                  This is NOT a medical site. Do NOT use it in real life !
                  </div>
                 <div class= "modal-footer">
                    <input class="btn btn-default my_modal" data-dismiss="modal" value="Understood and Close">
            
                 </div>
               </div>
            </div>
          </div>
        <a href="#"  class="my_modal" data-toggle="modal" data-target="#myModal">Disclaimer</a>
        </div>
  
      </div>


    </div>

    

    <!-- To include jquery old location on the web  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
     -->
    <!-- To include jquery new location-->
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    

    <!-- to include javascript old location
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    -->
     <!-- to include javascript local (new locatiob) -->   
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
     

    <!-- Link to bootstrap javascript file op cdn  oude locatie   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    -->
    <!-- Link to bootstrap javascript file  local (nieuwe locatie) -->   
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 
    
 
</body>
 

    <!-- oude scripts van udacity
     D3.js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    Plotly.js
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    -->
    <!--
    <script type="text/javascript">
         
        var graphs = {{graphJSON | safe}};
        
        Plotly.plot('chart',graphs,{});        
 
    </script>
  -->

    
    <script>
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
  </script>


  



 
</html>