
<!doctype html>
<html>
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     -->
     <!-- udacity plotly script-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
 

    
     
    <title>
        Hart Failure
    </title>

    <!-- Link to local bootstrap css file -->
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <!--
    <style>

     .my_header {height: 60px; color:seashell;
     background-color: royalblue;}
     .my_first_row {height: 60px; color:black;
     background-color: cornsilk;}

 
     


    </style>
  -->
  
    
</head>
 
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://freebiesupply.com/logos/udacity-logo/">
      <img id="brand-image" alt="Website Logo" src="https://cdn.freebiesupply.com/logos/large/2x/udacity-logo-png-transparent.png">
      
   </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="{{url_for ('graphs')}}">Project Overview</a>
           </li>


           <li class="nav-item">
               <a class="nav-link" href="{{url_for ('predict')}}">Make a Prediction</a>
           </li>      
        </ul>
      </div>
  </nav>
    

  <div class="container"></div>
     <div class="row justify-content-center align-items-center">
       <!---
        <div class = col-12> 
            
        </div>
      -->
    </div>
      
    <div class = "row justify-content-center align-items-center my_header">
        <div class = "col-md-4">
          <p>Udacity Nano-Degree Program Data Scientist</p>
        </div>
        <div class = "col-md-4">
          <p> Capstone project:&nbsp; Heart Failure Prediction</p>
        </div>
     </div>
    
     <div class = "row justify-content-center align-items-center my_first_row">
          <div class="col-md-4 text-center">
              <p>Project Motivation - Defintion</p>
          </div>
     </div>

     <div class = "row justify-content-center align-items-center ">

       <div class = "col-md-4"><p><span style="font-family:Times;font-size:15px"><em>"Heart disease has remained the leading cause of death at the global level for the last 20 years. However,
         it is now killing more people than ever before"</em> (WHO).</span>
        </p>
        <br>
        <p><span style="font-family:Times;font-size:16px">Although the risk of a cardiovascular disease can be greatly reduced by a healthy lifestyle,
           there are still many people who are not sufficiently aware of the dangers or simply cannot avoid them due to their poor living conditions.
          A verly large group of people could therefore benefit from a machine learning algorithm that would predict, 
          based on a number of objectively measurable social and medical criteria ,
           that the event of a fatal hart failure is imminent.</span></p>
       </div>
       <div class="col-md-4">
        <img class="img-fluid"  alt="emergency room" src="/static/ER.jpg">
       </div>
       <div class="col-md-4"><p><span style="font-family:Times;font-size:16px">
        The aim of this project was therefore to build a machine learning model based on a dataset with a number of
         medical and social conditions that would allow us to make a prediction for a hart failure and which are the most
          important features that influence this prediction. One can try it by selecting "Make a prediction" on the navigation bar.
         </span></p>
        </div>

    </div>
  <!--
  <div id="chart" class="chart"> </div>
  -->
     <br>
     <div class="row">
       <div class="col-md-4"></div>

            <a href="https://github.com/vanhoofgit/capstone_heart_failure" class="button">Download the complete Jupyter Notebook </a>
      </div>
     </div>
     <br>
     <br>

    
     <div class="row justify-content-center align-items-center  ">

      <div class="col-sm-3">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
             <div class="modal-content">
               <div class= "modal-header my_modal">
                 <h1> Disclaimer</h1>
               </div>
               <div class= "modal-body">
                This is NOT a medical site. Do NOT use it in real life !
                </div>
               <div class= "modal-footer">
                  <input class="btn btn-default my_modal" data-dismiss="modal" value="Understood and Close">
          
               </div>
             </div>
          </div>
        </div>
      <a href="#"  class="my_modal" data-toggle="modal" data-target="#myModal">Disclaimer</a>
      </div>

    </div>

  </div>

  


 
    <!-- To include jquery old location on the web  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
     -->
    <!-- To include jquery new location-->
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    

    <!-- to include javascript old location
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    -->
     <!-- to include javascript local (new locatiob) -->   
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
     

    <!-- Link to bootstrap javascript file op cdn  oude locatie   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    -->
    <!-- Link to bootstrap javascript file  local (nieuwe locatie) -->   
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

 
</body>
 
    <!--
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    -->
   <!--   
    <script>
         
        var graphs = {{graphJSON | safe}};
        
        Plotly.plot('chart',graphs,{});        
 
    </script>

  -->
  <!--
    <script>
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
  </script>
-->
 
</html>